html {
background-image: url("images/bats.gif");
}
body {
width: 700px;
margin: 0 auto;
background-color: white;
border: 5px solid black;
font-family: Arial;
}
header {
padding: 5px;
border-bottom: 3px solid black;
background: linear-gradient(orange, white, black);
}
header img {
float: left;
}
header h1, 
header h2 {
margin-left: 50px;
}
header h1 {
color: black;
}
h3 {
font-size: 25px;
}
li {
margin-bottom:2px;
}
footer {
text-align: center;
font-size: 0.8em;
padding: 10px;
border-top: 3px solid black;
background: linear-gradient(orange, white);
}